dashboard
db
mysql
ollama
traefik
.env
.keys
docker-compose-*.yml
!docker-compose-app.yml
!docker-compose-anthropic.yml
!docker-compose-openai.yml
!docker-compose-elevenlabs.yml
!docker-compose-google.yml
!docker-compose-vosk.yml
!docker-compose-openai-realtime.yml
!docker-compose-ultravox.yml
google.json
tools
model